target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Mac file
.DS_STORE

ida-chatbot-dialogflow.json
ida-chatbot-dialogflow-prod.json
ida-chatbot-dialogflow-admin.json

src/main/resources/datasets
src/main/resources/metadata
*.log
