.clearfix::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.chatbox {
    border: solid 1px #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 370px;
}

.chatbox .chatbox-title {
    padding: 15px;
    border-bottom: solid 1px #ccc;
    background-color: #4e8cff;
    color: #fff;
}


.chatbox-chat-area .chat-area-input input {
    width: 92%;
    padding: 15px;
    display: block;
    border: none;
    outline: none;
}

.chatbox-chat-area .chat-area-msgs {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px #ccc;
    height: 500px;
    overflow-y: scroll;
    transition: background-color 0.3s;
}

.chatbox-chat-area .chat-area-msgs a:link,
.chatbox-chat-area .chat-area-msgs a:visited {
    color: #fff;
}

.chatbox-chat-area .chat-area-msgs .agent {
    float: right;
    margin-right: 10px;
    overflow-wrap: break-word;
    display: flex;
}

.chatbox-chat-area .chat-area-msgs .agent .msg {
    display: inline-block;
    background-color: #ecebef;
    margin-right: 10px;
    border-radius: 5px;
    padding: 15px;
    width: 250px;
    margin-bottom: 15px;
    position: relative;
}

.chatbox-chat-area .chat-area-msgs .agent .msg:after {
    content: "";
    width: 0px;
    height: 0px;
    border-right: 7px solid transparent;
    border-top: 10px solid #ececec;
    position: absolute;
    right: -7px;
    top: 4px;
}

.chatbox-chat-area .chat-area-msgs .agent .agent-pic {
    width: 15px;
    height: 14px;
    border: solid 6px #4e8cff;
    border-radius: 50%;
    display: inline-block;
}

.chatbox-chat-area .chat-area-msgs .user {
    background-color: #4e8cff;
    color: #fff;
    margin-left: 10px;
    border-radius: 5px;
    padding: 15px;
    width: 250px;
    margin-bottom: 15px;
    position: relative;
    float: left;
    overflow-wrap: break-word;

}

.chatbox-chat-area .chat-area-msgs .user:before {
    content: "";
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-top: 10px solid #4e8cff;
    position: absolute;
    left: -7px;
    top: 4px;
}