.sc-user-input--file-icon-wrapper {
  display: none;
}

.sc-launcher {
  display: none;
}

.sc-chat-window {
  z-index: 1200;
}

@media (min-width: 992px) {
  .no-data .sc-chat-window {
    right: 43%;
  }
  .sc-chat-window {
    max-height: 80vh;
  }
}
