.divShow {
  display: block;
}

.divHidden {
  display: none;
}

.sc-user-input--file-icon-wrapper {
  display: none;
}

.no-data .sc-chat-window {
  right: 43%;
}

.sc-open-icon,
.sc-closed-icon,
.sc-launcher {
  top: 0;
  z-index: 1200;
}

.sc-launcher {
  background-color: skyblue;
  cursor: pointer;
}

.sc-chat-window {
  max-height: 80vh;
  z-index: 1200;
}
