.divShow {
  display: block;
}

.divHidden {
  display: none;
}

.sc-user-input--file-icon-wrapper {
  display: none;
}

.no-data .sc-open-icon,
.no-data .sc-closed-icon,
.no-data .sc-launcher,
.no-data .sc-chat-window {
  right: 43%;
}

.sc-chat-window {
  max-height: none;
}
