.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
  transform: rotate(0deg);
  }

  to {
  transform: rotate(360deg);
  }
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  padding: 6px;
  font: 14px sans-serif;
  background: #000;
  color: #fff;
  border: 0;
  border-radius: 3px;
  pointer-events: none;
  word-break: break-word;
}
