div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  padding: 6px;
  font: 14px sans-serif;
  background: #000;
  color: #fff;
  border: 0;
  border-radius: 3px;
  pointer-events: none;
  word-break: break-word;
}

.line-chart-legend {
  max-height: calc(100vh * 0.75);
  overflow-y: auto;
}

.MuiListItem-root.Mui-selected {
  background-color: unset;
}

.MuiListItem-root.Mui-selected .MuiListItemText-root span {
  text-decoration: line-through;
}

.legend-item-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.tab-container {
  width: 100%;
  overflow-x: auto;
}

.linechart-container {
  max-width: 100%;
  border: 1px solid black;
  overflow: auto;
}

.legend-item-sm-icon {
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
}

.not-shown .MuiChip-label {
  text-decoration: line-through;
}
