.grouped-bargraph-container {
  width: 100%;
  border: 1px solid black;
  overflow-x: auto;
}

.grouped-bar-chart-legend {
  max-height: 650px;
  overflow-y: auto;
}

.MuiListItem-root.Mui-selected {
  background-color: unset;
}

.MuiListItem-root.Mui-selected .MuiListItemText-root span {
  text-decoration: line-through;
}

.legend-item-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.tab-container {
  width: 100%;
  overflow-x: auto;
}

.grouped-bargraph-container {
  max-width: 100%;
  border: 1px solid black;
  overflow: scroll;
}

.legend-item-sm-icon {
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
}
