table.ida-table {
  min-width: 100%;
}

table.ida-table thead .MuiTableCell-head {
  background-color: #4f8bff;
  color: #fff;
  font-size: 13px;
  white-space: nowrap;
}

table.ida-table tbody .MuiTableCell-body {
  font-size: 12px;
  white-space: nowrap;
}

table.ida-table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.04);
}

.pagination-root {
  flex-shrink: 0;
  margin-left: 20px;
}

.ida-card {
  margin: 15px 0;
}

.ida-table-pagination .MuiTablePagination-root {
  border: none;
}

.ida-table .MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon,
.ida-table .MuiTableSortLabel-root.MuiTableSortLabel-active,
.ida-table .MuiTableSortLabel-root:hover,
.ida-table .MuiTableSortLabel-root:focus {
  color: #fff;
}

.ida-table .MuiTableRow-root.MuiTableRow-hover:hover:nth-of-type(even) {
  background-color: #fff;
}

.ida-table .MuiTableRow-root.MuiTableRow-hover:hover:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.04);
}
