.root {
  flex-grow: 1;
  width: 100%;
  background-color: #fff;
}

.tab-list {
  padding-left: 0;
}

.tab-close-icon {
  display: inline;
}

.MuiButtonBase-root.MuiTab-root {
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
}

.MuiButtonBase-root.MuiTab-root .MuiTab-wrapper {
  align-items: flex-start;
}
.MuiGrid-root.MuiGrid-container {
  flex-wrap: nowrap;
}