#alert-dialog-description > div {
  border: dashed 1px #ccc;
  width: 100%;
  height: 700px;
}

.upload-dataset-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.meta-data-box {
  overflow-y: scroll;
  height: 700px;
}

.heading {
  color: #000;
}

td.required:after {
  content: "*";
  color: red;
}

.metadata-info {
  padding: 5px;
  border: solid 1px #4e8cff;
  margin: 5px;
  font-size: 14px;
  color: #4e8cff;
}
